.matrix-bg {
  fill: none;
  stroke-width: 0.5px;
  stroke: #bbb;
}

.matrix-condition rect {
  fill-opacity: 0.4;
  /* stroke: #000; */
  cursor: pointer;
}

.matrix-condition rect:hover {
  fill-opacity: 0.8;
}

.matrix-outputs rect {
  fill-opacity: 0.6;
  stroke-width: 0.5;
  stroke: #444;
}

.matrix-outputs text {
  fill-opacity: 0.9;
}

.mc-range {
  fill: #aaa;
  stroke-width: 0px;
}

.mc-bg {
  fill: #ddd;
  stroke-width: 1px;
}

.mc-satisfied rect {
  stroke-width: 0px;
  fill-opacity: 0.7;
}

rect.mc-stripe {
  mask: url(#mask-stripe);
  fill-opacity: 1.0;
  stroke-width: 0.5;
  stroke: #444;
}