.node rect {
  fill: #fff;
  /* stroke: steelblue; */
  fill-opacity: 0.5;
  stroke-width: 2px;
  stroke-opacity: 0.5;
}

.node text {
  font: 12px sans-serif;
}

.link {
  /* fill: none; */
  /* stroke: #ccc; */
  stroke-width: 0px;
  fill-opacity: 0.5;
}
